.card-stack {
  position: relative;

  &__card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &--i0 {
      z-index: 10;
    }

    &--i1 {
      transform: scale(0.95) translateY(5%);
      z-index: 9;
    }
  }
}
